<h2>Template dinamicos</h2>
<hr>




<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
   <!-- Nomnbre -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
         <input 
               type="text" 
               class="form-control"
               name="nombre"
               [ngModel]="persona.nombre"
               placeholder="Nombre de la persona"
               required>
         <span *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched"
                     class="form-text text-danger">Este campo es obligatorio</span>
      </div>
   </div>
<!-- Agregar fav -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Agregar</label>
      <div class="col-sm-9">
         <div class="input-group">
            <input 
                  type="text" 
                  class="form-control"
                  [(ngModel)]="nuevoJuego"
                  name="nuevoJuego"
                  (keyup.enter)="agregarJuego()"
                  placeholder="Agregar juego favorito">
            <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">
               Agregar
            </button>
         </div>
      </div>
   </div>
<!-- Lista de juegos favs -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Favoritos</label>
      <div class="col-sm-9">
         <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
            <input 
               [(ngModel)]="juego.nombre"
               name="favorito:{{i}}"
               class="form-control"
               required>
            <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">
               X
            </button>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <button 
                  class="btn btn-primary float-end" 
                  type="button" 
                  (click)="guardar()" 
                  [disabled]="miFormulario.invalid">
            Guardar
         </button>
      </div>
   </div>

</form>


<span>Persona</span>
<pre>{{persona | json}}</pre>