<h1>Template: Basicos</h1>
<hr>

<div class="row">
   <div class="col">

      <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

         <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Producto</label>
            <div class="col-sm-9">
               <input type="text"
                     class="form-control"
                     name="producto"
                     ngModel
                     placeholder="Nombre del producto"
                     required
                     minlength="3">

               <span *ngIf="nombreValido()" 
                     class="form-text text-danger">Debe tener al menos 3 caracteres</span>
            </div>
         </div>


         <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Precio</label>
            <div class="col-sm-9">
               <input type="number"
                     name="precio"
                     ngModel
                     class="form-control"
                     placeholder="Precio del producto">

                     <span *ngIf="precioValido()" 
                     class="form-text text-danger">El precio debe ser 0 o mayor</span>
            </div>
         </div>


         <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Existencias</label>
            <div class="col-sm-9">
               <input type="number"
                     name="existencia"
                     [ngModel]="initForm.existencia"
                     class="form-control"
                     customMin
                     [minimo]="0"
                     placeholder="Productos en existencia"
                     required>
            </div>
         </div>

         <div class="row">
            <div class="col">
               <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary float-end">
                  Guardar
               </button>
            </div>
         </div>

      </form>

   </div>
</div>

<div class="row">
   <div class="col">
      <span>Valid</span>
      <pre> {{miFormulario.valid }} </pre>

      <span>Pristine</span>
      <pre> {{miFormulario.pristine }} </pre>

      <span>Touched</span>
      <pre> {{miFormulario.touched }} </pre>

      <span>Valid</span>
      <pre> {{miFormulario.value | json }} </pre>
   </div>
</div>