<h2>Reactive: dinamicos</h2>
<hr>




<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
   <!-- Nomnbre -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
         <input 
               type="text" 
               class="form-control"
               formControlName="nombre"
               placeholder="Nombre de la persona"
               >
         <span *ngIf="campoEsValido('nombre')"
               class="form-text text-danger">
            Este campo es obligatorio</span>
      </div>
   </div>
<!-- Agregar fav -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Agregar</label>
      <div class="col-sm-9">
         <div class="input-group">
            <input 
                  type="text" 
                  class="form-control"
                  [formControl]="nuevoFavorito"
                  placeholder="Agregar juego favorito"
                  (keyup.enter)="agregarFavorito()"
                  >
            <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">
               Agregar
            </button>
         </div>
      </div>
   </div>
<!-- Lista de juegos favs -->
   <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Favoritos</label>
      <div class="col-sm-9" formArrayName="favoritos">

         <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index">
            <input 
               class="form-control"
               [formControlName]="i">
            <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">
               X
            </button>

         </div>
      </div> 
   </div>

   <div class="row">
      <div class="col-sm-12">
         <button 
                  class="btn btn-primary float-end" 
                  type="submit" >
            Guardar
         </button>
      </div>
   </div>

</form>


<span>Valid</span>
<pre> {{miFormulario.valid }} </pre>

<span>Value</span>
<pre> {{miFormulario.value | json }} </pre>

<span>Agregar juego</span>
<pre> {{nuevoFavorito.valid | json }} </pre>
<pre> {{nuevoFavorito.value | json }} </pre>