<h1>Validaciones Reactivas!</h1>

<hr />

<div class="row">
  <div class="col">

    <form action="" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
       <!-- Nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
             El nombre es obligatorio
          </span>
        </div>
      </div>

      <div class="row mb-3">
         <label for="" class="col-sm-3 col-form-label">Email</label>
         <div class="col-sm-9">
           <input
             type="email"
             class="form-control"
             formControlName="email"
             placeholder="Email del usuario"
           />
           <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{emailErrorMsg}}
         </span>
         </div>
       </div>

       <div class="row mb-3">
         <label for="" class="col-sm-3 col-form-label">Username</label>
         <div class="col-sm-9">
           <input
             type="text"
             class="form-control"
             formControlName="username"
             placeholder="Username del usuario"
           />
           <span class="form-text text-danger" *ngIf="campoNoValido('username')">
            El username es obligatorio y no puede ser strider
          </span>
         </div>
       </div>

       <div class="row mb-3">
         <label for="" class="col-sm-3 col-form-label">Password</label>
         <div class="col-sm-9">
           <input
             type="password"
             class="form-control"
             placeholder="Password del usuario"
             formControlName="password"
           />
           <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            El password debe de ser mayor de 6 caracteres
          </span>
         </div>
       </div>


       <div class="row mb-3">
         <label for="" class="col-sm-3 col-form-label">Confirmar contraseña</label>
         <div class="col-sm-9">
           <input
             type="password"
             class="form-control"
             placeholder="Confirmar del password"
             formControlName="password2"
           />
           <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
            Las contraseñas deben ser iguales
          </span>
         </div>
       </div>

       <div class="row">
          <div class="col">
             <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.pending">
                Crear
             </button>
          </div>
       </div>


    </form>
  </div>
</div>


<h2>Form Valid:  {{miFormulario.valid}} </h2>
<h2>Form status:  {{miFormulario.status}} </h2>
<h2>Form pending:  {{miFormulario.pending}} </h2>
<h2>Form Erros: </h2>
<pre>{{miFormulario.errors | json}}</pre>

<h5>Nombre</h5>
<pre> {{miFormulario.controls.nombre.errors | json}} </pre>

<h5>Email</h5>
<pre> {{miFormulario.controls.email.errors | json}} </pre>

<h5>Username</h5>
<pre> {{miFormulario.controls.username.errors | json}} </pre>

<h5>Passwords</h5>
<pre> {{miFormulario.controls.password.errors | json}} </pre>

<h5>password 2</h5>
<pre> {{miFormulario.controls.password2.errors | json}} </pre>